
button .loginG {
 width: 20px;
 padding: 5px;
}
button .loginText{
text-align: center;
}
.loginForm{
 width: 400px;
 height:100px;
 margin:0 auto;
 padding-top: 150px;
 background-color: #3ab3cf;
}

.loginDevchoice img {
 width: 200px;
 height:200px;
}
.loginAward{
 width: 400px;
}
.loginbanner{
 position: absolute;
 top: 100px;
 left: 850px;
 color: white;
 font: bold 20px/4px Helvetica, Sans-Serif;
 background: rgb(0, 0, 0); /* fallback color */
 background: rgba(0, 0, 0, 0.6);
 width: 250px;
}

/* Screen larger than 1280px? */
@media (max-width: 1280px) {
 .loginbanner{
  position: absolute;
  top: 100px;
  left: 41%;
  color: white;
  font: bold 20px/4px Helvetica, Sans-Serif;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.6);
  width: 250px;
 }
}