.managenominees table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
}

.managenominees th {
  font-size: 12px !important;
}

.managenominees td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 5px;
  font-size: 11px;
  background-color:rgb(129, 138, 148);
}

.managenominees tr:nth-child(even) {
  background-color: rgb(156, 171, 189);
}