

#main-content {
    background-color: rgb(34, 48, 84);
    word-wrap: break-word;
    color: rgb(234, 234, 250);
}

#sidebar-left {
    background-color: #e3e9ee;
}

#sidebar-right {
    background-color: #dbe1e6;
}

#main-content th{
    display: table-cell;
    text-align: center !important;
    position: absolute;
    margin-left: 20%;
}

/*Base Mobile Layout*/
.wrap {
    width: 100%;
    display: flex;
    border:solid 1px;
    border-color: #cfcf4e;
}

#main-content, #sidebar-left, #sidebar-right {
    width: 100%;
    float: left;
}
.nomlistdata{
    display:flex;
    padding-left: 10px;
}
/*3 Column Layout*/
@media only screen and (min-width: 1024px) {
    .wrap {
        width: 1200px;
    }

    #main-content {
        width: 65%;
        float: left;
    }

    #sidebar-left {
        width: 20%;
        float: left;
    }

    #sidebar-right {
        width: 15%;
        float: left;
    }
}

/*Wide Layout*/
@media only screen and (min-width: 1200px) {
    .wrap {
        width: 80%;
        margin: 0 auto;
    }

    .makeStyles-form-3 {
        width: 80% !important;
        height: 27% !important;
        color: #FFF !important;
        border: 1px solid #16a085;
        background: #223054 !important;
        margin: 1em auto;
        padding: 10px;
        font-size: 18px;
        font-style: normal;
        text-align: center;
        border-width: 1px 1px 3px;
        border-radius: 5px;
    }
    .inputField textarea{
        width: 90% !important;
        margin-bottom: 10px !important;
    }
    .publishbtn{
        margin: 10px !important;
        background: #1abc9c;
        width: 100px;
        height: 50px;
        color: #FFF;
    }

    .makeStyles-submit-5 {
        color: #FFF;
        width: 50%;
        border: 1px solid #16a085;
        margin: 1em auto;
        padding: 10px;
        font-size: 18px;
        background: #1abc9c;
        font-style: normal;
        text-align: center;
        border-width: 1px 1px 3px;
        border-radius: 5px;
        margin : 50px !important;
        
      }

      .makeStyles-label-6{
        color: #FFF;
      }
}

.makeStyles-label-6{
    color: #FFF !important;
  }